/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.*.example
!.env.example
.phpunit.result.cache
.phpstorm.meta.php
phpunit.xml

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode
/.vagrant
.phpstorm*
_ide_helper.php
_ide_helper_models.php
.DS_Store

/docker-compose.yml
/docker-compose.override.yml

/volumes
!/volumes/mysql/.gitkeep

/backup
/dbash.sh

/env/build.sh
/env/docker/workspace/xdebug.ini
/env/docker/workspace/supervisor/laraworker.conf
/env/docker/nginx/nginx.conf
/env/docker/nginx/upstream.conf
/env/docker/nginx/sites/laravel.conf
/env/docker/php-fpm/laravel.ini
/env/docker/php-fpm/opcache.ini
/env/docker/php-fpm/php.ini
/env/docker/php-fpm/xdebug.ini
/env/docker/php-fpm/xlaravel.pool.conf
/env/docker/php-fpm/crontab/laradock
/env/docker/php-fpm/supervisor/laraworker.conf

/storage/api-docs/
/storage/volumes/
/storage/app/public/uploads/

/public/vendor/telescope/
/public/mix-manifest.json
/public/js/vendors.js
/public/js/custom.js
/public/css/vendors.css
/public/css/custom.css
/public/fonts
/public/img
